<mat-toolbar 
color="primary">
  Users
</mat-toolbar>

<div class="usersContainer" >
  <div  class="usersList">
    <mat-list *ngIf="users.length===0">
      <p >There are no registered users yet</p>
    </mat-list>
    <mat-list *ngFor="let user of users">
      <p >{{user.firstName}} {{user.lastName}}, {{user.gender}}, {{user.age}} years old, {{user.email}}, password: {{user.password}}</p>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  
  <a routerLink="" routerLinkActive="active"><button mat-raised-button color="primary">Sign up again</button></a>
</div>

